@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white font-primary;
  }
}

.h1 {
  @apply text-3xl font-light text-white mb-12 md:text-6xl;
}
.h2 {
  @apply text-xl italic text-secondary;
}
.subtitle {
  @apply text-secondary;
}
.quiz-card {
  @apply w-full flex items-center p-5 bg-card mb-3 text-xl font-medium rounded-lg  md:text-3xl md:mb-6;
}

.qustion-h2 {
  @apply text-4xl font-medium text-white;
}
